NODE_ENV=development

POSTGRES_USER=cyberstore
POSTGRES_PASSWORD=cyberstore_password
POSTGRES_DB=cyberstore_db
DATABASE_URL=postgresql://cyberstore:cyberstore_password@postgres:5432/cyberstore_db?schema=public

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_ORIGIN=http://localhost
API_PREFIX=/api/v1

VITE_API_URL=/api/v1
